/* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
   
  } */

  form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .search-form {
    width: 300px;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .search-input {
    flex: 1;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
  }
  
  .search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }
  
  .search-button {
    padding: 0.8rem 1.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }